In [27]:
class Vehicle:
    pass

class GroundVehicle(Vehicle):
    pass

class FlightVehicle(Vehicle):
    pass

class Car(GroundVehicle):
    pass

class Motorcycle(GroundVehicle):
    pass

class Airplane(FlightVehicle):
    pass

class Starship(FlightVehicle):
    pass

In [28]:
class GroundVehicle():
    def __init__(self, num_wheels = 4):
        self.num_wheels = num_wheels
        
    def drive(self):
        print('vroooom')

In [29]:
car = GroundVehicle(4)
print(car.num_wheels)
car.drive()

4
vroooom

In [30]:
class Motorcycle(GroundVehicle):
    def __init__(self, num_wheels = 2):
        super().__init__(num_wheels)
    
    def drive(self):
        print('BRAAAP!!')

In [31]:
mot = Motorcycle()
print(mot.num_wheels)
mot.drive()

2
BRAAAP!!

In [32]:
vehicles = [
    GroundVehicle(),
    GroundVehicle(),
    Motorcycle(),
    GroundVehicle(),
    Motorcycle(),
]

for v in vehicles:
    v.drive()

vroooom
vroooom
BRAAAP!!
vroooom
BRAAAP!!

In [39]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"<Human: {self.name}, {self.age}>"

humans = [
    Human("Alice", 29),
    Human("Bob", 32),
    Human("Charlie", 37),
    Human("Daphne", 30),
    Human("Eve", 26),
    Human("Frank", 18),
    Human("Glenn", 42),
    Human("Harrison", 12),
    Human("Igon", 41),
    Human("David", 31),
]

In [40]:
print("Starts with D:")
a = [person.name for person in humans if person.name[0] == 'D']
print(a)

Starts with D:
['Daphne', 'David']

In [42]:
print("Ends with e:")
b = [person.name for person in humans if person.name[-1] == 'e']
print(b)

Ends with e:
['Alice', 'Charlie', 'Daphne', 'Eve']

In [45]:
print("Starts between C and G, inclusive:")
c = [person.name for person in humans if person.name[0] in ['C', 'D', 'E', 'F', 'G']]
print(c)

Starts between C and G, inclusive:
['Charlie', 'Daphne', 'Eve', 'Frank', 'Glenn', 'David']

In [46]:
print("Ages plus 10:")
d = [person.age + 10 for person in humans]
print(d)

Ages plus 10:
[39, 42, 47, 40, 36, 28, 52, 22, 51, 41]

In [47]:
print("Name hyphen age:")
e = [person.name + '-' + str(person.age) for person in humans]
print(e)

Name hyphen age:
['Alice-29', 'Bob-32', 'Charlie-37', 'Daphne-30', 'Eve-26', 'Frank-18', 'Glenn-42', 'Harrison-12', 'Igon-41', 'David-31']

In [49]:
print("Names and ages between 27 and 32:")
f = [(person.name, person.age) for person in humans if 27 <= person.age <= 32]
print(f)

Names and ages between 27 and 32:
[('Alice', 29), ('Bob', 32), ('Daphne', 30), ('David', 31)]

In [50]:
print("All names uppercase:")
g = [Human(person.name.upper(), person.age + 5) for person in humans]
print(g)

All names uppercase:
[<Human: ALICE, 34>, <Human: BOB, 37>, <Human: CHARLIE, 42>, <Human: DAPHNE, 35>, <Human: EVE, 31>, <Human: FRANK, 23>, <Human: GLENN, 47>, <Human: HARRISON, 17>, <Human: IGON, 46>, <Human: DAVID, 36>]

In [53]:
print("Square root of ages:")
h = [person.age ** (1/2) for person in humans]
print(h)

Square root of ages:
[5.385164807134504, 5.656854249492381, 6.082762530298219, 5.477225575051661, 5.0990195135927845, 4.242640687119285, 6.48074069840786, 3.4641016151377544, 6.4031242374328485, 5.5677643628300215]