In [27]:
class Vehicle:
    pass

class GroundVehicle(Vehicle):
    pass

class FlightVehicle(Vehicle):
    pass

class Car(GroundVehicle):
    pass

class Motorcycle(GroundVehicle):
    pass

class Airplane(FlightVehicle):
    pass

class Starship(FlightVehicle):
    pass

In [28]:
class GroundVehicle():
    def __init__(self, num_wheels = 4):
        self.num_wheels = num_wheels
        
    def drive(self):
        print('vroooom')

In [29]:
car = GroundVehicle(4)
print(car.num_wheels)
car.drive()

4
vroooom

In [30]:
class Motorcycle(GroundVehicle):
    def __init__(self, num_wheels = 2):
        super().__init__(num_wheels)
    
    def drive(self):
        print('BRAAAP!!')

In [31]:
mot = Motorcycle()
print(mot.num_wheels)
mot.drive()

2
BRAAAP!!

In [32]:
vehicles = [
    GroundVehicle(),
    GroundVehicle(),
    Motorcycle(),
    GroundVehicle(),
    Motorcycle(),
]

for v in vehicles:
    v.drive()

vroooom
vroooom
BRAAAP!!
vroooom
BRAAAP!!

In [39]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"<Human: {self.name}, {self.age}>"

humans = [
    Human("Alice", 29),
    Human("Bob", 32),
    Human("Charlie", 37),
    Human("Daphne", 30),
    Human("Eve", 26),
    Human("Frank", 18),
    Human("Glenn", 42),
    Human("Harrison", 12),
    Human("Igon", 41),
    Human("David", 31),
]

In [40]:
print("Starts with D:")
a = [person.name for person in humans if person.name[0] == 'D']
print(a)

Starts with D:
['Daphne', 'David']

In [42]:
print("Ends with e:")
b = [person.name for person in humans if person.name[-1] == 'e']
print(b)

Ends with e:
['Alice', 'Charlie', 'Daphne', 'Eve']

In [45]:
print("Starts between C and G, inclusive:")
c = [person.name for person in humans if person.name[0] in ['C', 'D', 'E', 'F', 'G']]
print(c)

Starts between C and G, inclusive:
['Charlie', 'Daphne', 'Eve', 'Frank', 'Glenn', 'David']

In [46]:
print("Ages plus 10:")
d = [person.age + 10 for person in humans]
print(d)

Ages plus 10:
[39, 42, 47, 40, 36, 28, 52, 22, 51, 41]

In [47]:
print("Name hyphen age:")
e = [person.name + '-' + str(person.age) for person in humans]
print(e)

Name hyphen age:
['Alice-29', 'Bob-32', 'Charlie-37', 'Daphne-30', 'Eve-26', 'Frank-18', 'Glenn-42', 'Harrison-12', 'Igon-41', 'David-31']

In [49]:
print("Names and ages between 27 and 32:")
f = [(person.name, person.age) for person in humans if 27 <= person.age <= 32]
print(f)

Names and ages between 27 and 32:
[('Alice', 29), ('Bob', 32), ('Daphne', 30), ('David', 31)]

In [50]:
print("All names uppercase:")
g = [Human(person.name.upper(), person.age + 5) for person in humans]
print(g)

All names uppercase:
[<Human: ALICE, 34>, <Human: BOB, 37>, <Human: CHARLIE, 42>, <Human: DAPHNE, 35>, <Human: EVE, 31>, <Human: FRANK, 23>, <Human: GLENN, 47>, <Human: HARRISON, 17>, <Human: IGON, 46>, <Human: DAVID, 36>]

In [53]:
print("Square root of ages:")
h = [person.age ** (1/2) for person in humans]
print(h)

Square root of ages:
[5.385164807134504, 5.656854249492381, 6.082762530298219, 5.477225575051661, 5.0990195135927845, 4.242640687119285, 6.48074069840786, 3.4641016151377544, 6.4031242374328485, 5.5677643628300215]

In [56]:
import pandas as pd

In [57]:
class City:
    
    def __init__(self, name, lat, lon):
        self.name = name
        self.lat = lat
        self.lon = lon

In [68]:
def cityreader(cities=[]):

    df = pd.read_csv('./cityreader/cities.csv')
    
    for index, row in df.iterrows():

        cities.append(City(row['city'], row['lat'], row['lng']))
    
    return cities

cities = cityreader()

In [73]:
for c in cities:
    print(c.name, c.lat, c.lon)

Seattle 47.6217 -122.3238
Richmond 37.5294 -77.4755
Virginia Beach 36.7335 -76.0435
Washington 38.9047 -77.0163
Milwaukee 43.064 -87.9669
Orlando 28.4801 -81.3448
Miami 25.784 -80.2102
Tampa 27.9937 -82.4454
Jacksonville 30.3322 -81.6749
Albuquerque 35.1055 -106.6476
Fort Worth 32.7813 -97.3466
McAllen 26.2203 -98.2457
El Paso 31.8478 -106.431
Dallas 32.7938 -96.7659
Austin 30.3038 -97.7545
Houston 29.7871 -95.3936
San Antonio 29.4722 -98.5247
New Orleans 30.0687 -89.9288
Charlotte 35.208 -80.8308
Raleigh 35.8323 -78.6441
Omaha 41.2634 -96.0453
Memphis 35.1047 -89.9773
Nashville 36.1714 -86.7844
Buffalo 42.9016 -78.8487
Queens 40.7498 -73.7976
New York 40.6943 -73.9249
Bronx 40.8501 -73.8662
Brooklyn 40.6501 -73.9496
Manhattan 40.7834 -73.9662
Philadelphia 40.0076 -75.134
Pittsburgh 40.4396 -79.9763
Sacramento 38.5666 -121.4683
Riverside 33.9382 -117.3949
San Francisco 37.7561 -122.4429
San Diego 32.8312 -117.1225
San Jose 37.302 -121.8488
Los Angeles 34.114 -118.4068
Las Vegas 36.2288 -115.2603
Denver 39.7621 -104.8759
Chicago 41.8373 -87.6861
Atlanta 33.7627 -84.4231
Indianapolis 39.7771 -86.1458
Oklahoma City 35.4677 -97.5138
Phoenix 33.5722 -112.0891
Tucson 32.1558 -110.8777
Bridgeport 41.1909 -73.1958
Hartford 41.7661 -72.6834
Baltimore 39.3051 -76.6144
Boston 42.3189 -71.0838
Cleveland 41.4766 -81.6805
Columbus 39.9859 -82.9852
Cincinnati 39.1412 -84.506
Salt Lake City 40.7774 -111.9301
Saint Louis 38.6358 -90.2451
Kansas City 39.1239 -94.5541
Minneapolis 44.9635 -93.2679
Detroit 42.3834 -83.1024
Providence 41.8229 -71.4186
Louisville 38.1662 -85.6488
Portland 45.5372 -122.65